:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background: light-dark(#fff, #121212);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: light-dark var(--background);
  height: 100dvh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
}

.hero-container {
  height: 256px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1677344297888-81f04aa12a60?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-copy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 80px;
  max-width: 1128px;
  align-items: center;
}

.hero-copy h1 {
  font-size: 2.5rem;
}

.hero-copy a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.search-container {
  position: absolute;
  bottom: -24px;
  display: flex;
}

.search-field {
  background-color: #2e2e2f;
  border-radius: 8px 0 0 8px;
  display: flex;
  gap: 2px;
  z-index: 1;
}

.search-field:focus-within {
  outline: 2px solid white;
  outline-offset: -2px;
}

.search-container button {
  background-color: #4b4b4b;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.25%;
}

.search-field img {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.hero-search {
  height: 2.5rem;
  width: 25vw;
  border: none;
  padding: 0 8px 0 0;
  background-color: unset;
}

.hero-search:focus,
.hero-search:focus-visible {
  outline: none;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 100%;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 24px;
  gap: 40px;
  max-width: 800px;
}

.results__placeholder__state {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  display: flex;
  gap: 24px;
  width: 100%;
}

.result__poster {
  max-width: 124px;
  border-radius: 4px;
}

.result__placeholder {
  width: 100%;
  max-width: 124px;
  border-radius: 4px;
  background-color: #2e2e2f;
  height: 186px;
}

.result-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
}

.result-details-row-1 {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.result-details-row-1 h3 {
  font-size: 24px;
  font-weight: 700;
}

.results-details-row-2 {
  display: flex;
  gap: 24px;
}

.results-details-row-2 button {
  margin-left: auto;
}

.result__btn {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: background-color 350ms linear;
}

.result__btn:hover {
  background-color: #2e2e2f;
}

.result__explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.result__explore__img {
}

.result__explore__copy {
  font-size: 18px;
  font-weight: bold;
  opacity: 80%;
}
